@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase;
}

#header h1 {
    color: #34343c;
}


/* Borde acordeón */

.accordion-button:focus {
    z-index: 3;
    border-color: #ea3b40;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #ea3b4194;
}


/* Footer */

#footer a {
    color: whitesmoke;
    text-decoration: none;
}

#footer a i:hover {
    color: rgb(151, 147, 147);
    text-decoration: none;
}